<div class="show">
  <p><%= @sports.name %></p>
  <p><%= @sports.location %></p>
  <p><%= @sports.difficulty %></p>
  <p><%= @sports.level %></p>
  <p><%= @sports.distance %></p>
  <p><%= @sports.image_url %></p>
</div>
